alembic==1.7.4
atomicwrites==1.4.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
click==8.0.1
colorama==0.4.4
coverage==6.1.2
distlib==0.3.3
filelock==3.3.0
Flask==2.0.1
Flask-Migrate==3.1.0
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
mysql==0.0.3
mysqlclient==2.0.3
packaging==21.2
passlib==1.7.4
platformdirs==2.4.0
pluggy==1.0.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
py==1.11.0
pyparsing==2.4.7
pytest==6.2.5
pytest-mock==3.6.1
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
virtualenv==20.8.1
Werkzeug==2.0.1
WTForms==2.3.3
