{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h1><img src="/static/images/examplePic.png" width="50" height="40" alt="Eventsly">About Us</h1>

<style>
  * {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 10px 10px 5px grey;
    padding: 16px;
    text-align: center;
    background-color: #3A3E5E;
    color: white
  }
  /*For scroll bar*/
  body {
    overflow-y: auto;
    overflow-x: auto;
  }
/*Added from previous about_us branch*/
  img{
    border-radius: 48%;
    border-collapse: separate;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
  }

  </style>
<!--Move content from top of page-->
  <br>
  <br>

  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Our Story</h3>
        <p>Our team created Eventsly because in the past, there was no easy way for you to search for and locate events in your communities. We know every community has something unique and special to offer. We also know that there are exciting events happening all around us. However, in the past, learning about and locationing these events was challenging and seemingly impossible.</p>
        <p>Existing websites would only highlight popular attractions and tourist destinations. They didn’t provide information about events happening in local communities, or how to locate them. Noticing this void has motivated us to create a simple solution making discovering and locating events in your community as easy as possible. Our ultimate goal is to help you connect with your community.</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Why Eventsly?</h3>
        <p>info here</p>
        <p>info here</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Our Mission</h3>
        <p>info here</p>
        <p>info here</p>
      </div>
    </div>
  </div>

  <!--About the authors section-->
<h3><center>Meet Our Team</center></h3>

{% endblock %}