{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h1><img src="/static/images/examplePic.png" width="50" height="40" alt="Eventsly">About Us</h1>

<style>
  header {
    color: white;
  }
  
  img{
    border-radius: 48%;
    border-collapse: separate;
  }
 /*
  .center{
    margin-left: 0%;
    margin-right: 0%;
  }
  .right{
   margin-left: 5%;
   margin-right: 15%;
  }
  .left{
   margin-left: 15%;
   margin-right: 5%;
  }
*/
  .container {
    display: flex;
    justify-content: space-between;
  }
 
 </style>
<h2><center>Our Story</center></h2>
<p><center>Our team created Eventsly because in the past, there was no easy way for you to search for and locate events in your communities. We know every community has something unique and special to offer. We also know that there are exciting events happening all around us. However, in the past, learning about and locationing these events was challenging and seemingly impossible. Existing websites would only highlight popular attractions and tourist destinations. They didn’t provide information about events happening in local communities, or how to locate them. Noticing this void has motivated us to create a simple solution making discovering and locating events in your community as easy as possible. Our ultimate goal is to help you connect with your community.</center></p>

<h2><center>Who We Are</center></h2>
<P><center>Our Eventsly team is a group of young multitalented Wayne State University students who want to make a difference in our community and yours. We are based in Detroit, Michigan.</center></P>

<!--Add pop-up window for names and brief bio? also add border to images-
<img src="/static/images/profile.jpg" width="100" height="100"alt="Greg Flores" class="right" style="box-shadow: 10px 10px 5px grey;">
<img src="/static/images/profile.jpg" width="100" height="100" alt="CJ Fox" class="left" style="box-shadow: 10px 10px 5px grey;">
<img src="/static/images/profile.jpg" width="100" height="100"alt="Racquel Martens" class="center" style="box-shadow: 10px 10px 5px grey;">
<img src="/static/images/profile.jpg" width="100" height="100"alt="Mark Slattery" class="center" style="box-shadow: 10px 10px 5px grey;">
<img src="/static/images/profile.jpg" width="100" height="100"alt="Devin Stawicki" class="center" style="box-shadow: 10px 10px 5px grey;">
-->
<div class="container">
  <img src="/static/images/profile.jpg" width="200" height="200"alt="Greg Flores"  style="box-shadow: 10px 10px 5px grey;" />
  <img src="/static/images/profile.jpg" width="200" height="200" alt="CJ Fox"  style="box-shadow: 10px 10px 5px grey;" />
  <img src="/static/images/profile.jpg" width="200" height="200"alt="Racquel Martens"  style="box-shadow: 10px 10px 5px grey;" />
  <img src="/static/images/profile.jpg" width="200" height="200"alt="Mark Slattery"  style="box-shadow: 10px 10px 5px grey;"/>
  <img src="/static/images/profile.jpg" width="200" height="200"alt="Devin Stawicki"  style="box-shadow: 10px 10px 5px grey;"/>
</div>

<div class="container">
  <P><b>Greg Flores</b></P>
  <P><b>CJ Fox</b></P>
  <P><b>Racquel Martens</b></P>
  <P><b>Mark Slattery</b></P>
  <P><b>Devin Stawicki</b></P>
</div>
{% endblock %}