{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/bookmarksStyleSheet.css">
<link rel="stylesheet" href="/static/styles/frostedStyleSheet.css">
{% endblock %}

{% block main %}
<form id ="myBookmarks" class="frosted-glass" id="bookmarks">
  <h1><i class="fas fa-bookmark"></i>Bookmarks</h1>
  <table class="bm-table">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Location</th>
        <th scope="col">Date & Time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for bookmark in bookmarkpull %}
    <tr>
      <td>{{bookmark['title']}}</th>
      <td>{{bookmark['city']}}, {{bookmark['state']}}
      </td>
      <td>{{bookmark['date']}}
      </td>
      <td id = "linkcell"><a href="eventdetails.html" id="viewdetails">View Details</a>
      </td>
      <td><a href="/deleteBookmark/{{bookmark['event_id']}}" name="eventid" value="{{bookmark['event_id']}}"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}