{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/bookmarksStyleSheet.css">
<link rel="stylesheet" href="/static/styles/formStyles.css">
<link rel="stylesheet" href="/static/styles/bookmarkStyleSheet.css">
{% endblock %}

{% block main %}
<form id="signup">
<h1><i class="fas fa-bookmark"></i> Bookmarks</h1>

{% if bookmarkpull|length > 0 %}
<table class="bm-table">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Location</th>
        <th scope="col">Date & Time</th>
      </tr>
    </thead>
      {% for bookmark in bookmarkpull %}
      <tr>
      <td>{{bookmark['title']}}</th>
      <td>{{bookmark['city']}}, {{bookmark['state']}}
      </td>
      <td>{{bookmark['date']}}
      </td>
      </tr>
      {% endfor %}
  </table>
  {% else %}
  <h1>You currently have no bookmarks!</h1>
  <h1>Bookmark an event to see them.</h1>
  {% endif %}
</form>

{% endblock %}