{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block main %}


{% from "includes/_formhelpers.html" import render_field %}
<form action="/createEvent.html" method="POST">
  <div class='form-group'>
    {{render_field(form.title, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.description, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.date, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.latitude, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.longitude, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.street, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.city, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.state, class_="form-control")}}
  </div>

  <p><input type="submit" value="Create Event!" class="formbtn"><input type="reset" class="formbtn"></p>
</form>
{% endblock %}
