{% extends 'base.html' %}

{% block head %}
<style type="text/css">
  main { 
    padding: 0; 
  }
</style>
<!-- Required for Leaflet map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<link rel="stylesheet" href="/static/styles/mapStyleSheet.css">

<!-- Leaflet User Location plugin: https://github.com/domoritz/leaflet-locatecontrol -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.css" />

<!-- Leaflet Geocoding Plugin: -->
<link rel="stylesheet"
  href="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.css">
<script src="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.js"></script>
{% endblock %}

{% block main %}
{% if session.logged_in %}
<div class="event-create">
  <span class="fa-stack fa-2x">
    <a href="createEvent.html" aria-label="create event">
      <i class="fas fa-circle fa-stack-2x" id='event-circle'></i>
      <i class="fas fa-plus fa-stack-1x" aria-hidden="true"></i>
    </a>
  </span>
</div>
{% endif %}
<!-- Leaflet Map & plugins -->
<div id="mapid"></div>
<div id="search-box"></div>
<div id="result"></div>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js"
  charset="utf-8"></script>
<script src="/static/scripts/mapScripts.js"></script>
<script>
  var pins = JSON.parse('{{pins | tojson | safe}}')
  console.log(pins)
  loadPins(pins)
 </script>
{% endblock %}