{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/frostedStyles.css">
<script src='/static/scripts/FormValidator.js'></script>
<script src='/static/scripts/formScripts.js'></script>
{% endblock %}

{% block main %}
<form class="frosted-glass" id='login' action="/login.html" method="POST">
  <h1>Log In</h1>
  <div class='content-box'>
    <label for='username'>Username</label>
    <input type="text" name="username" value='{{request.form.username}}' required>
  </div>
  <div class='content-box'>
    <label for='username'>Password</label>
    <input type="password" name="password" value='{{request.form.password}}' required>
  </div>
  <div class='content-box'>
    <input type="submit" value="Login">
  </div>
</form>
{% endblock %}
<!-- using python not php need to fix this -->