<!DOCTYPE html>
<html>
<head>
<!--using the design_changes style sheets-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--need to style this page-->
<style>
  body {
    background-color: #F6F5F5;
    color: #3A3E5E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
  }
  
</style>
</head>
<body>

<h2>Login to your Eventsly account below</h2>

<!-- using python not php need to fix this -->
<form action=" " method=" ">

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="Username" required> <br> <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required> <br> <br>

    <button type="submit">Login</button>
  </div> <br>

  <div class="container">
    <button type="button" class="cancel">Cancel</button>
  </div>
</form>
				
<footer>
  <ul>
    <li>Connect with your community</li>
    <li>All content copyright &copy; 2021, Eventsly</li>
  </ul>
</footer>

</body>
</html>