{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/frostedStyleSheet.css">
<link rel="stylesheet" href="/static/styles/tableStyleSheet.css">
<link rel="stylesheet" href="/static/styles/searchStyleSheet.css">
<script src='/static/scripts/FormValidator.js'></script>
<script src='/static/scripts/formScripts.js'></script>
{% endblock %}

{% block main %}
<div class='frosted-glass' id="search">
    <form action="/search.html" method="POST" id="search-form">
        <h1>Search for Events</h1>
        <div class='content-box'>
            <label for="findEvent">Event Title</label>
            <input type="text" name="findEvent">
        </div>
        <div class="content-box">
            <input type="submit">
        </div>
    </form>

    <table id="search-table">

        {% if data|length > 0 %}
        {% for row in data %}
        <tr class='result-set' rowspan=2>
            <td><a href="/event-details/{{ row['id'] }}">{{row['title']}}</a></th>
            <td>{{row['description']}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h2>No matches! Please try another search.</h2>
        {% endif %}

    </table>
</div>
{% endblock %}