{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h1><img src="/static/images/examplePic.png" width="50" height="40" alt="Eventsly">Event Search</h1>

<form action="/search.html" method="POST">
    <label for="findEvent"><b>Event Title</b></label>
    <input type="text" placeholder="Name of Event" name="findEvent"> 
    <br> <br>
    <input type="submit"></input>
</form>

<table>
    <thead>
      <tr>
          <th>Event Title</th>
          <th>Event Description</th>
          <!--<th>expiry timestamp</th>-->
      </tr>
    </thead>    
    <tbody>
        {% for row in data %}    
        <tr>
            <td>{{row['title']}}</td>
            <td>Description: {{row['description']}}</td>
            <!--<td>{{row[2]}}</td>-->
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %}