{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h1>Eventsly Sign-Up</h1>
<h2>Please fill out the information below.</h2>
{% from "includes/_formhelpers.html" import render_field %}
<form action="/signup.html" method="POST">
  <div class='form-group'>
    {{render_field(form.firstname, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.lastname, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.biography, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.phone, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.email, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.username, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.password, class_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.confirm, class_="form-control")}}
  </div>

  <p><input type="submit" value="Sign Up!" class="formbtn"><input type="reset" class="formbtn"></p>
</form>
{% endblock %}