{% extends 'base.html' %}

{% block head %}
<style>
  main {
    background-image: url(/static/images/signup-background2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
</style>
<link rel="stylesheet" href="/static/styles/formStyles.css">
{% endblock %}

{% block main %}
{% from "includes/_formhelpers.html" import render_field %}
<form class="signup" action="/signup.html" method="POST">
  <h1>Sign-Up</h1>
  <h2>Please fill out the information below</h2>
  <div class='form-row'>
    <div class='form-col'>
      {{render_field(form.firstname, class_="form-control")}}
    </div>
    <div class='form-col'>
      {{render_field(form.lastname, class_="form-control")}}
    </div>
  </div>
  <div class='form-row'>
    <div class='form-col'>
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class='form-col'>
      {{render_field(form.phone, class_="form-control")}}
    </div>
  </div>
  <div class='form-row'>
    <div class='form-col'>
      {{render_field(form.username, class_="form-control")}}
    </div>
  </div>
  <div class='form-row'>
    <div class='form-col'>
      {{render_field(form.biography, class_="form-control")}}
    </div>
  </div>
  <div class='form-row'>
    <div class='form-col'>
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class='form-col'>
      {{render_field(form.confirm, class_="form-control")}}
    </div>
  </div>
  <div class='form-row'>
    <div class='form-col'>
      <input type="reset" class="formbtn">
    </div>
    <div class='form-col'>
      <input type="submit" value="Sign Up!" class="formbtn">
    </div>
  </div>
</form>
{% endblock %}