/* main {
  align-items: center;
  justify-content: center;
  padding: 0;
}

body {
  overflow-y: auto;
} */

#myBookmarks{
  margin:5%;
}

.bm-table{
  margin-top: 1rem;
  max-height: 90%;
  max-width: 100%;
  width: 100%;
}

.bm-table td, .bm-table th {
  text-align: center;
  padding: 8px;
}

.bm-table td, .bm-table th, .bm-table col {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.bm-table thead th {
  color: #ffffff;
  background: #69779C;
}

.bm-table thead th:nth-child(odd) {
  background: #3A3E5E;
  color: #ffffff;
}

.bm-table tr:nth-child(even) {
  background: #69779C;
  color: #ffffff;
}

.bm-table tr:nth-child(odd) {
  background: #F8F8F8;
}

/*Styling for odd row View Details links*/
.bm-table tr:nth-child(odd) a#viewdetails:link {
  color: #3A3E5E;
  background-color: transparent;
  text-decoration: none;
}
.bm-table tr:nth-child(odd) a#viewdetails:hover:not(.active) {
  color: #7b82b3;
  text-decoration: none;
}
.bm-table tr:nth-child(odd) i {
  color: #3A3E5E;
  background-color: transparent;
  text-decoration: none;
}
.bm-table tr:nth-child(odd) i:hover:not(.active) {
  color: #7b82b3;
  text-decoration: none;
}

/*Styling for even row View Details links*/
.bm-table tr:nth-child(even) a#viewdetails:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.bm-table tr:nth-child(even) a#viewdetails:hover:not(.active) {
  color: black;
  text-decoration: none;
}
.bm-table tr:nth-child(even) i {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.bm-table tr:nth-child(even) i:hover:not(.active) {
  color: black;
  text-decoration: none;
}


a#viewdetails{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 2%;
  display:block;
  text-align:center;
  text-decoration: none;
  padding: 0%;
  margin: 0%;
}
