/*----------------------*/
/*    general styles    */
/*----------------------*/
/*#region#*/
/*
* general user form styles
*/
main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.create-event {
    background: white;
    border-right: 2px solid #3A3E5E;
    display: flex;
    flex-flow: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 0 10px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 2;
}
#create-event-spacer {
    height: 100%;
    width: 222px;
}

.create-event h1 {
    font-size: 20pt;
    text-align: center;
    margin-top: 70px;
}

/*
* form items
*/ 
.create-event .content-box {
    /* height: 120px; */
    position: relative;
    width: 100%;
    margin-top: 30px;
}
/* 
* all inputs 
*/
.create-event input {
    border-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 500;
    height: 30px;
    margin: 5px 0 4px;
    width: 100%;
}

/*
* text/password inputs
*/
.create-event input[type='text'], 
.create-event input[type='password'] {
    border-style: none;
    outline: 2px solid #a7a7a7;
    padding: 0 26px 0 4px;
}

.create-event input[type='text']:focus, 
.create-event input[type='password']:focus {
    outline: 2px solid #cfcfcf;
}

.create-event input[type='text'].invalid-field,
.create-event input[type='password'].invalid-field {
    outline: 2px solid red;
}

.create-event input[type='text'].valid-field, 
.create-event input[type='password'].valid-field{
    outline: 2px solid #7b82b3;
}

/*
* submit button 
*/
.create-event input[type='submit'] {
    background-color: #3A3E5E;
    border-radius: 5px;
    color: white;
    height: 50px;
    margin-bottom: 80px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
}

.create-event input[type='submit']:hover:not(.disable-submit) {
    background-color: #7b82b3;
    cursor: pointer;
}

.create-event input[type='submit'].disable-submit {
    opacity: 0.5;
}

/*
* labels/counters/requirement text
*/
.create-event label {
    color:#a7a7a7;
    font-size: 14pt;
    left: 3px;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    top: 27px;
}

.create-event .move-label {
    color: #3A3E5E;
    font-size: 12pt;
    font-weight: bold;
    top: 0;
}

.create-event span {
    display: block;
    pointer-events: none;
}

.create-event span.counter {
    color:#3A3E5E;
    font-size: 12pt;
    float: right;
}

.create-event span.input-description {
    /* display: block; */
    font-size: 12pt;
    text-align: left;
}

.create-event span.help-inline {
    color: red;
    /* display: block; */
    font-size: 12pt;
    text-align: left;
}
/*#endregion#*/
/*---------------*/
/*    Desktop    */
/*---------------*/
/*#region#*/
@media screen and (min-width: 700px) and (min-height: 700px) {
    .create-event {
        padding: 0 20px;
        width: 300px;
    }

    #create-event-spacer {
        min-width: 342px;
    }

    /*
    * all inputs
    */ 
    .create-event input[type='text'],
    .create-event input[type='password'] {
        height: 24px;
        font-size: 12pt;
    }

    /*
    * submit button 
    */
    .create-event input[type='submit'] {
        height: 40px;
    }

    /*
    * labels/counters/requirement text
    */
    .create-event label {
        font-size: 12pt;
        left: 3px;
        top: 24px;
    }

    .create-event .move-label {
        font-size: 10pt;
    }
    
    .create-event span.counter,
    .create-event span.input-description,
    .create-event span.help-inline {
        font-size: 10pt;
    }

    .create-event span.input-description,
    .create-event span.help-inline {
        margin-left: 2px;
    }

    .create-event span.input-description {
        position: absolute;
    }
}
/*#endregion#*/