/* general styles for all pages */
html,
body {
  height: 100%;
  margin: 0;
}

body {
    background-color: #F6F5F5;
    color: #3A3E5E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
  }

h1 {
  margin: 0;
}

/* flexbox styling */
header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
  padding: 1.2em;
}

footer {
  flex: 0 1 auto;
}

/* event create button on index.html */
.event-create { 
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 64px;
  z-index: 2;
  display: flex;
  transition-duration: 1s;
}

.event-create .fa-stack .fa-plus {
  color: white;
}

.event-create .fa-stack {
  transition-duration: 0.3s;
}

.event-create .fa-stack:hover {
  transform: scale(1.15);
  transition-duration: 0.3s;
}

.fas#event-circle {
  color: #3A3E5E;
}
