html,
body {
  height: 100%;
  margin: 0;
}
body {
    background-color: #F6F5F5;
    color: #3A3E5E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
  }

h1 {
  margin: 0;
}

/* Flexbox Styling */
header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
  padding: 1.2em;
}

footer {
  flex: 0 1 auto;
}

/*form {
  float: right;
  background-color: #3A3E5E;
}
*/
table, th, td {
  border: 3.5px solid white;
  border-collapse: collapse;
  background-color: cornflowerblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.responsive {
  width: 100%;
  height: auto;
}

.event-create {  
  position: absolute; 
  bottom: 64px;
  width: 100%; /* Need a specific value to work */
  z-index: 4;
  display: flex;
}
.event-create span {
  margin: 0 auto;
}

.fa-plus {
  color: #3A3E5E;
  z-index: 101px;
}