/*----------------*/
/* general styles */
/*----------------*/
/*#region#*/
html,
body {
  height: 100%;
  margin: 0;
}

body {
    background-color: #F6F5F5;
    color: #3A3E5E;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
  }

h1 {
  margin: 0;
}

/*
* 3 row flexbox 
*/
header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
  padding: 1.2em;
}

footer {
  flex: 0 1 auto;
}

/* 
* event create button on index.html 
*/
.event-create { 
  bottom: 64px;
  display: flex;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.event-create .fa-stack {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.event-create .fa-stack:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;  
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.event-create .fa-plus {
  color: white;
}

.event-create #event-circle {
  color: #3A3E5E;
}

/*
* error messages - TODO: VERIFY USE?
*/
.errormsg {
  background-color: #FFD2D2;
  color: #D8000C;
  margin: 10px 0px;
  padding:12px;
}

.successmsg {
  background-color: #DFF2BF;
  color: #4F8A10;
  margin: 10px 0px;
  padding:12px;
}
/*#endregion#*/