footer {
    background-color: #3A3E5E;
    z-index: 3;
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: white;
}

.footer-contact {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.5s ease 0s;
}

/*--------------------------*/
/* styles for small screens */
/*--------------------------*/
/* hide the footer */
@media screen and (max-width: 1199px) {
    footer {
        display: none;
    }
}

/*--------------------------*/
/* styles for large screens */
/*--------------------------*/
/* fixed footer on bottom of page */
@media screen and (min-width: 1200px) {
    footer {
        height: 55px;
    }

    footer ul {
        padding: 0 1.2em;
        height: 100%;
        margin: 0;
        align-items: center;
    }
    
    footer li {
        font-size: 0.9em;
    }
}