/*----------------------*/
/*    general styles    */
/*----------------------*/
/*#region#*/
main {
  background-image: url(/static/images/signup-background2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

body {
  overflow-y: auto;
}

/*
* general user form styles
*/
form.user-form {
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-flow: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 30px;
}

form.user-form h1 {
    font-size: 20pt;
}

/* 
* all inputs 
*/
form.user-form input {
    border-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 500;
    height: 30px;
    margin: 5px 0 4px;
    width: 100%;
}

/*
* text/password inputs
*/
form.user-form input[type='text'], 
form.user-form input[type='password'] {
    border-style: none;
    outline: 2px solid #a7a7a7;
    padding: 0 26px 0 4px;
}

form.user-form input[type='text']:focus, 
form.user-form input[type='password']:focus {
    outline: 2px solid #a7a7a7;
}

form.user-form input[type='text'].invalid-field,
form.user-form input[type='password'].invalid-field {
    outline: 2px solid red;
}

form.user-form input[type='text'].valid-field, 
form.user-form input[type='password'].valid-field{
    outline: 2px solid #7b82b3;
}

/*
* form items
*/ 
form.user-form .form-item {
    /* height: 120px; */
    position: relative;
    width: 100%;
    margin-top: 35px;
}

/*
* submit button 
*/
form.user-form input[type='submit'] {
    background-color: #3A3E5E;
    border-radius: 5px;
    color: white;
    height: 50px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

form.user-form input[type='submit']:hover:not(.disable-submit) {
    background-color: #7b82b3;
    cursor: pointer;
}

form.user-form input[type='submit'].disable-submit {
    opacity: 0.5;
}

/*
* labels/counters/requirement text
*/
form.user-form label {
    color:#a7a7a7;
    font-size: 14pt;
    left: 2px;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 28px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

form.user-form .move-label {
    color: #3A3E5E;
    font-size: 12pt;
    font-weight: bold;
    top: 0;
}

form.user-form span {
    display: block;
    pointer-events: none;
}

form.user-form span.counter {
    color:#3A3E5E;
    font-size: 12pt;
    float: right;
}

form.user-form span.input-description {
    /* display: block; */
    font-size: 12pt;
    text-align: left;
}

form.user-form span.help-inline {
    color: red;
    /* display: block; */
    font-size: 12pt;
    text-align: left;
}
/*#endregion#*/
/*---------------*/
/*    Desktop    */
/*---------------*/
/*#region#*/
@media screen and (min-width: 700px) and (min-height: 700px) {
    form.user-form {
        border-radius: 80px;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 85%;
        max-height: 600px;
        max-width: 700px;
        width: 85%;
    }
    
    form.user-form h1 {
        text-align: center;
        width: 100%;
    }

    /*
    * form items
    */ 
    form.user-form .form-item {
        width: 48%;
    }

    /*
    * all inputs
    */ 
    form.user-form input[type='text'],
    form.user-form input[type='password'] {
        height: 24px;
        font-size: 12pt;
    }

    /*
    * submit button 
    */
    form.user-form input[type='submit'] {
        text-align: center;
        height: 40px;
        width: 180px;

    }

    form.user-form .form-item:last-of-type {
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    /*
    * labels/counters/requirement text
    */
    form.user-form label {
        font-size: 12pt;
        left: 3px;
        top: 24px;
    }
    
    form.user-form .move-label,
    form.user-form span.counter,
    form.user-form span.input-description,
    form.user-form span.help-inline {
        font-size: 10pt;
    }

    form.user-form span.input-description,
    form.user-form span.help-inline {
        font-size: 10pt;
        margin-left: 2px;
    }
}
/*#endregion#*/