form.signup {
    background: rgba(255, 255, 255, 0.5);
    width: 90%;
    max-height: 650px;
    height: 100%;
    max-width: 700px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 80px;
    backdrop-filter: blur(5px);
}

form.signup h1, form.signup h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

form.signup .form-item {
    flex: 1 1 220px;
    margin: 0 30px;
    position: relative;
}

/* label styles */
form.signup label {
    position: absolute;
    top: 4px;
    left: 8px;
    pointer-events: none;
    color:rgb(167, 167, 167);
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

form.signup .move-label {
    top: -20px;
    left: 5px;
    font-size: 10pt;
    color: #3A3E5E;
    font-weight: bold;
}

/* form counter styles */
form.signup span.counter {
    position: absolute;
    right: 8px;
    top: -20px;
    font-size: 10pt;
    color:#3A3E5E;
}

/* form input styles */
form.signup input {
    width: 100%;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-left: 6px;
    padding-top: 3px;
    height: 26px;
    border-style: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form.signup input[type='text'], form.signup input[type='password'] {
    outline: 2px solid rgb(167, 167, 167);
    border-style: none;
}

form.signup input[type='submit'] {
    background-color: #3A3E5E;
    color: white;
}

form.signup input[type='submit'].disabled {
    opacity: 0.5;
}

form.signup input[type='text'].invalid {
    outline: 2px solid red;
}

/* small screen styles */
@media screen and (max-width: 570px) {
    form.signup {
        width: 100%;
        max-height: 100%;
        border-radius: 0;
    }
    
    form.signup h1 {
        font-size: 2rem;
    }

    form.signup h2 {
        font-size: 1rem;
    }
    
    body {
        overflow-y: visible;
    };
}