/*----------------------*/
/*    general styles    */
/*----------------------*/
/*#region#*/
.map {
  height: 100%;
  position: relative;
  z-index: 1;
}

/* #index-map {

} */

#create-event-map {
  position: static;
  flex: 2 1 auto;
  width: 100%;
}

#event-details-map {
  border: 1px solid #7b82b3;
  border-radius: 5px;
  height: 60%;
  flex: 1 0;
  margin-top: 10px;
  width: 100%;
}

.buttoncontainer {
  text-align: center;
  width: 100%;
  margin: auto;
}
/*#endregion#*/
/*---------------*/
/*    Desktop    */
/*---------------*/
/*#region#*/
@media screen and (min-width: 1124px) {
  #index-map {
    /* fade in on page load */
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -ms-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    animation: fadein 1.5s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
/*#region#*/