/* Responsive Navbar CSS */
header {
    background-color: #3A3E5E;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}  
.nav-item {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.8em;
 }
.fa-circle {
    color: white;
}
.fa-search {
    color: #3A3E5E;
 }

/*--------------------------*/
/* styles for small screens */
/*--------------------------*/
@media screen and (max-width: 1199px) {
    header {
        z-index: 3;
    }
    nav {
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        z-index: 3;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .fa-bars {
        color: white;
        z-index: 3;
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 63px;
        left: -100%;
        flex-direction: column;
    }
    .dropdown {
        left: 0;
        width: 100%;
        background-color: #3A3E5E;
        display: flex;
        align-items: center;
        transition: 0.3s;
        z-index: 2;
    }
}

/*--------------------------*/
/* styles for large screens */
/*--------------------------*/
/* large screen nav style - fixed top bar */
@media screen and (min-width: 1200px) {
    header {
        height: 55px;
      }
    nav {
        display: flex;
        flex-direction: row;
        width: 100%; 
        height: 100%;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .logo {
        min-width: 221px;
    }
    .spacer {
        margin-left: auto;
    }
    .nav-item {
        display: flex;
        align-items: center;
        color: white;
        padding: 0 20px;
        box-sizing: border-box;;
        border: 2px solid #3A3E5E;
        margin-left: -1px;
        height: 100%;
        transition: all 0.5s ease 0s;
    }
    .active {
        background-color: white;
        color: #3A3E5E;
    }
    a.nav-item:hover:not(.active) {
        background-color: #7b82b3;
    }

    .fa-map-marked {
        padding-right: 5px;
        min-width: 32px;
      }
    .fa-stack {
        min-width: 5px;  
    }
    .fa.fa-bars {
        display: none;
    }
}