/* Responsive Navbar CSS */
header {
    background-color: #3A3E5E;
}
nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}  
.nav-item {
    font-weight: bold;
    text-decoration: none;
    color: #F6F5F5;
  }
.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
 }
.fa-circle {
    color: white;
}
.fa-search {
    color: #3A3E5E;
 }
/*--------------------------*/
/* styles for large screens */
/*--------------------------*/
/* large screen nav style - fixed top bar */
@media screen and (min-width: 1200px) {
    header {
        height: 55px;
      }
    nav {
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .spacer {
        margin-left: auto;
    }
    .nav-item {
        display: flex;
        align-items: center;
        color: white;
        padding: 0 20px;
        outline: #3A3E5E solid 2px;
        border-top: 2px solid #3A3E5E;
        border-bottom: 2px solid #3A3E5E;
        box-sizing: border-box;
        height: 100%;
        font-size: 1.2rem;
    }
    .active {
        background-color: white;
        color: #3A3E5E;
    }
    a.nav-item:hover {
        color: #3A3E5E;
        transition: 0.3s;
        background-color: #b0b2bf;
    }
    .logo {
        font-size: 1.6em;
        padding-right: 1.2em;
        padding-left: 1.2em;
        display: flex;
        align-items: center;
    }
    .fa-map-marked {
        padding-right: 5px;
      }
    .fa-stack {
        padding-left: 20px;
    }
}