input {
    text-align: center;
}

.search-table{
    margin-top: 1rem;
    max-height: 90%;
    max-width: 100%;
    width: 100%;
  }
  
  .search-table td, .search-table th {
    text-align: center;
    padding: 8px;
  }
  
  .search-table td, .search-table th, .search-table col {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .search-table th {
    width: 50%;
    max-width: 50%;
  }
  
  .search-table thead th {
    color: #ffffff;
    background: #69779C;
  }
  
  .search-table thead th:nth-child(odd) {
    background: #3A3E5E;
    color: #ffffff;
  }
  
  .search-table tr:nth-child(even) {
    background: #69779C;
    color: #ffffff;
  }
  
  .search-table tr:nth-child(odd) {
    background: #F8F8F8;
  }
  
  a#viewdetails{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 2%;
    display:block;
    text-align:center;
    text-decoration: none;
    padding: 0%;
    margin: 0%;
  }